.mission {
    background-color: #C8D1BE;
    width: 90%;
    left: 5%;
    height: 500px;
    position: absolute;
    top: 430px;
    z-index: 1;
    border-radius: 18px;
}

.missionHeading {
    font-size: 42px;
    color: #546A76;
}

.missionWrapper { 
    text-align: center;
    line-height: 200px;
}

.missionStatement {
    margin: 0 auto;
    min-width: 60%;
    max-width: 70%;
    line-height: normal;
    font-size: 18px;
    font-style: italic;
}